<div class="container-fluid">
  <div class="content" role="main">
    <div class="toolbar" role="banner" (scroll)="onWindowScroll($event);">
      <img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <span>Deporter Logistics</span>
      <div class="menu">
        <a>HOME</a>
        <a>ABOUT US</a>
        <a>SERVICES</a>
        <a>INDUSTRIES</a>
        <a>BLOGS</a>
        <a>CONTACT</a>
      </div>
    </div>
    
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- <button mat-raised-button (click)="isEditable = !isEditable">
        {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
      </button> -->
      
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="loginFormMobile" [editable]="isEditable">
          <form [formGroup]="loginFormMobile" (ngSubmit)="onSubmitMobile(loginFormMobile.value)">
            <ng-template matStepLabel>Enter your mobile number</ng-template>
            <mat-form-field>
              <mat-label>Mobile</mat-label>
              <input matInput formControlName="mobile" required> 
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="loginFormOTP" [editable]="isEditable">
          <form [formGroup]="loginFormOTP" (ngSubmit)="onSubmitOTP(loginFormOTP.value)">
            <ng-template matStepLabel>Enter OTP</ng-template>
            <mat-form-field>
              <mat-label>OTP</mat-label>
              <input matInput formControlName="otp" required>
            </mat-form-field>
            <div>
              <button  mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <h2 *ngIf="!authenticationSuccess" selected>Authentication Error</h2>
          <h2 *ngIf="authenticationSuccess" selected>Welcome, {{userDetails.result.name}}</h2>
          <br>
          <div>
            <button mat-raised-button color="primary" [disabled]="!authenticationSuccess" [routerLink]="['/partner/dashboard']">Go To Dashboard</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>