<mat-toolbar color="primary" role="header" barShadow>
    <mat-toolbar-row>
        <div class="matHeaderSearch">
            <div class="menu-icon float-left">
            	<a style="color: white;">
                    <i class="material-icons" (click)="toggleSidebar()" style="cursor:pointer;">menu</i>
            	</a>
            </div>
           
        </div>
        <div class="matToolBar_spacer"></div>
        <p style="color: white;">&nbsp; Welcome, {{userName}}</p>
    </mat-toolbar-row>
</mat-toolbar>