<h2>Deporter Partner Portal</h2>
<hr style="width: 80%;">
<div class="sidebarItem">
    <a (click)="logout()">
        <i class="fas fa-file width22"></i>&nbsp; My Documents
    </a>
</div>

<div class="sidebarItem">
    <a (click)="logout()">
        <i class="fas fa-money-check-alt width22"></i>&nbsp; Payments
    </a>
</div>
<div class="sidebarItem">
    <a (click)="logout()">
        <i class="fas fa-share-alt width22"></i>&nbsp; Share
    </a>
</div>
<div class="sidebarItem">
    <a (click)="logout()">
        <i class="fas fa-phone width22"></i>&nbsp; Contact Us
    </a>
</div>
<div class="sidebarItem">
    <a (click)="logout()">
        <i class="fas fa-truck-loading width22"></i>&nbsp; About Us
    </a>
</div>
<div class="sidebarItem">
    <a (click)="logout()">
        <i class="fas fa-sign-out-alt width22"></i>&nbsp; Logout
    </a>
</div>

