<div class="row">
    <div class="col-sm-3" style="text-align: -webkit-center;">
    <mat-card class="example-card">
        <i class="fas fa-dolly" style="font-size:64px;color:#ff9800"></i>
        <mat-card-header>
        <mat-card-title>My Loads</mat-card-title>
        <mat-card-subtitle>View your orders, place bids, cancel an order.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        <button mat-button>Start Bidding</button>
        <button mat-button>Get Other's Offers</button>
        <button mat-button>Get Cancellation Charges</button>
        </mat-card-actions>
    </mat-card>
    </div>
    <div class="col-sm-3" style="text-align: -webkit-center;">
    <mat-card class="example-card">
        <i class="fas fa-search" style="font-size:64px;color:#ff9800"></i>
        <mat-card-header>
        <mat-card-title>My Orders</mat-card-title>
        <mat-card-subtitle>View your orders, place bids, cancel an order.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        <button mat-button [routerLink]="['/partner/orders']">Get Idle Orders</button>
        <button mat-button>Search Orders</button>
        <button mat-button>Opt Out</button>
        </mat-card-actions>
    </mat-card>
    </div>
    <div class="col-sm-3" style="text-align: -webkit-center;">
    <mat-card class="example-card">
        <i class="fas fa-id-card" style="font-size:64px;color:#ff9800"></i>
        <mat-card-header>
        <mat-card-title>Drivers</mat-card-title>
        <mat-card-subtitle>View your orders, place bids, cancel an order.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        <button mat-button>View Drivers</button>
        <button mat-button>Search Drivers</button>
        <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card>
    </div>
    <div class="col-sm-3" style="text-align: -webkit-center;">
    <mat-card class="example-card">
        <i class="fas fa-shipping-fast" style="font-size:64px;color:#ff9800"></i>
        <mat-card-header>
        <mat-card-title>Vehicles</mat-card-title>
        <mat-card-subtitle>View your orders, place bids, cancel an order.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        <button mat-button>View Vehicles</button>
        <button mat-button>Search Vehicles</button>
        <button mat-button>Remove Vehicles</button>
        </mat-card-actions>
    </mat-card>
    </div>
    
</div>